.conteiner{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
header{
   
    padding: 46px 98px 79px 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     ;
    border-radius: 10px;
}
ul{
    display: flex;
    gap: 91px;
    
    ;
    border-radius: 10px;
   
}
li{
    font-size: 24px;
    color: #8172D5;
    ;
}
section{
    
    height: 1051px;
    padding: 52px 98px 63px 98px;
    background-color: #F2F5F8;
    ;
}
h1{
    font-size: 37px;
    color: #225857;
    ;
}
.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 68px;
}
.card{
    
    width: 400px;
    height: 368px;
    padding: 33px 30px 36px 30px;
}
.text{
    margin-top: 60px;
}