.conteiner{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
header{
   
    padding: 46px 98px 79px 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     ;
    border-radius: 10px;
}
ul{
    display: flex;
    gap: 91px;
    
    ;
    border-radius: 10px;
   
}
li{
    font-size: 24px;
    color: #8172D5;
    ;
}
section{
    width: 90%;
    height: 500px;
    margin: 0 auto;
    

}